
:root {
    /*COLORS*/
    --color-principal: rgb(06, 37, 55);
    --color-menu: rgb(255, 247, 225);
    --color-hover: rgb(224, 195, 155);
    --color-background-hover: rgba(235, 235, 235, 0.034);
    --color-gradient: linear-gradient(180deg, rgba(6,37,55,1) 0%, rgba(0,19,36,1) 65%);
    /*FONTS*/
    /*
    font-family: 'Playfair Display', serif;
    font-family: 'EB Garamond', serif;
    font-family: 'Dancing Script', cursive;
    */
    scroll-behavior: smooth;
    background: var(--color-principal);
    overflow: hidden;
}

/*  BODY GRID   */

body {
    display: grid;
    grid-template-rows: 15vh 1fr 15vh;
}

/*  HEADER  */

.header {
    display: flex;
    grid-row: 1/2;
    background: var(--color-principal);
    justify-content: center;
    z-index: 500;
}

.header__logo {
    padding-top: 5px;
}

.header__logo-img{
    height: 140px;
    transition: .5s;
    filter: drop-shadow(0px 0px 4px rgb(255, 247, 225, 0.4));
}

.header__logo-img:hover {
    filter: drop-shadow(0px 0px 3px rgb(255, 247, 225));
}

/*  ARTICLE SECTION */

.article {
    position: relative;
    grid-row: 2/3;
    z-index: 1;
}

.article__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article__section {
    display: flex;
    height: 100vh;
    background: var(--color-principal);
}

/*  MOVE ICON DOWN  */

.down__container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: transparent;
}


.down__a {
    position: absolute;
    font-size: 40px;
    color: rgba(235, 235, 235);
    opacity: .06;
    padding: 5px;
}

.down__container:hover {
    background: rgba(235, 235, 235, 0.034);
    transition: 1s;
}

.down__container:hover > .down__a {
    color: var(--color-menu);
    text-shadow:  1px 3px 4px rgba(255, 247, 225,0.3);
    transition: 1.2s;
    opacity: 1;
}

/*  MOVE ICON UP  */

.up__container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: transparent;
}

.up__a {
    position: absolute;
    font-size: 40px;
    color: rgba(235, 235, 235);
    opacity: .06;
    padding: 5px;
}

.up__container:hover {
    background: rgba(235, 235, 235, 0.034);
    transition: 1s;
}

.up__container:hover > .up__a{
    color: var(--color-menu);
    text-shadow:  1px 3px 4px rgba(255, 247, 225,0.3);
    transition: 1.2s;
    opacity: 1;
}



/*  ARTICLE INFO    */


.article__section-container-info{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    top: -140px;
}

.article__section-info {
    width: 70%;
    text-align: center;
    margin: auto;
}

.article__section-info-h2 {
    position: relative;
    text-align: center;
    color: var(--color-hover);
    text-shadow: 1px 3px 6px rgba(255, 247, 225,0.3);
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 50px;
    padding: 10px;

}

.article__section-info-p {
    position: relative;
    color: var(--color-hover);
    text-shadow:  1px 3px 4px rgba(255, 247, 225,0.3);
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 27px;
    padding: 10px;
}


.article__section-info-p:nth-child(5) {
    text-align: center;
    text-shadow:  1px 3px 8px rgba(255, 247, 225);
}


/*  ARTICLE CONTENT */

.article__section-container-content {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}

.article__section-container{
    height: 100vh;
    width: 80%;
    margin: auto;
}

.article__section-banner {
    text-align: center;
}

.article__section-banner-img {
    height: 200px;
}

.article__section-content {
    text-align: center;
}

.article__section-content-h2 {
    position: relative;
    text-align: center;
    color: var(--color-hover);
    text-shadow: 1px 3px 6px rgba(255, 247, 225,0.3);
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 40px;
    padding: 10px;

}

.article__section-content-h3 {
    position: relative;
    text-align: left;
    color: var(--color-hover);
    text-shadow: 1px 3px 6px rgba(255, 247, 225,0.3);
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: 30px;
    padding: 10px;

}

.article__section-content-p {
    position: relative;
    text-align: left;
    color: var(--color-hover);
    text-shadow:  1px 3px 4px rgba(255, 247, 225,0.3);
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 23px;
    padding: 10px;
}

.article__section-content-img {
    height: 100px;
    
}


/* FOOTER   */

.footer {
    display: flex;
    position: relative;
    grid-row: 3/4;
    background: var(--color-principal);
    justify-content: center;
}

.footer__logo {
    padding-bottom: 5px;
}

.footer__logo-img {
    height: 140px;
    transition: .5s;
}

.footer__logo-img:hover {
    filter: drop-shadow(0px 0px 3px rgb(255, 247, 225));
}

/* RESPONSIVE */

@media only screen and (min-width: 800px) and (max-width: 1650px) {
    :root {
        overflow: scroll;
    }
    .down__container{
        display: none;
    }

    .up__container {
        display: none;
    }
}

/* 1350px */


@media only screen and (min-width: 800px) and (max-width: 1350px) {
    :root{
        overflow: scroll;
    }
    
    body {
        grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 150px;
    }

    .article {
        grid-row: 2/12
    }

    .down__container{
        display: none;
    }

    .up__container {
        display: none;
    }

    .article__section {
        margin: 50px 0;
    }

    .article__section-info-h2 {
        font-size: 35px;
    }

    .article__section-info-p {
        font-size: 20px;
    }

    
    .article__section-content-h2 {
        font-size: 35px;
    }

    .article__section-content-h3 {
        font-size: 30px;
    }

    .article__section-content-p {
        font-size: 20px;
    }

    .article__section-content-img {
        display: none;
    }

    .footer {
        grid-row: 12/13;
    }
}

/* 800px */

@media only screen and (min-width: 500px) and (max-width: 800px) {
    :root{
        overflow: scroll;
    }
    
    body {
        grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 150px;
    }

    .article {
        grid-row: 2/12
    }

    .down__container{
        display: none;
    }

    .up__container {
        display: none;
    }

    .article__section {
        display: block;
    }

    .article__section-info-h2 {
        font-size: 30px;
    }

    .article__section-info-p {
        font-size: 20px;
    }

    .article__section-banner-img {
        height: 100px;
    }

    .article__section-content-h2 {
        font-size: 25px;
    }

    .article__section-content-h3 {
        font-size: 20px;
    }

    .article__section-content-p {
        font-size: 15px;
    }

    .article__section-content-img {
        display: inline-block;
        height: 50px;
    }

    .footer {
        padding-top: 300px;
        grid-row: 12/13;
    }
}

/* 500px */

@media only screen and (max-width: 500px) {
    :root{
        overflow: scroll;
    }
    
    body {
        grid-template-rows: 150px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 150px;
    }

    .article {
        grid-row: 2/12
    }

    .down__container{
        display: none;
    }

    .up__container {
        display: none;
    }

    .article__section {
        display: block;
        margin: 250px 0;
    }

    .article__section-info-h2 {
        font-size: 25px;
    }

    .article__section-info-p {
        font-size: 15px;
    }

    .article__section-banner-img {
        height: 100px;
    }

    .article__section-content-h2 {
        font-size: 25px;
    }

    .article__section-content-h3 {
        font-size: 20px;
    }

    .article__section-content-p {
        font-size: 15px;
    }

    .article__section-content-img {
        display: inline-block;
        height: 50px;
    }

    .footer {
        padding-top: 300px;
        grid-row: 12/13;
    }
}
